---
layout: episode
title:  "Verification"
season: 1
number: 16
date:   2016-03-08
categories: Season 1
---

1
---


John woke up disoriented, seeing nothing but blurry white. His head was pounding and his eyes felt like they were going to pop out of his head. It took him a few moments before he realized he was hanging upside down… that explained his swollen head, but the white light nearly blinding his eyes was still a mystery.

He squinted and rolled up in a sit-up and looked at his feet. They were fixed against the white blur, he couldn't move them at all. Some sort of translucent material covered them like glue, but he couldn't make out what. His abs started burning from the exertion so he grabbed his pant legs to hold himself up as the blood drained out of his head, clearing it.

John's eyes started to adjust to the glare and he realized that the mass of white was light reflecting off the snow above, below, and around him. He was in some sort of snow cave… and his feet were stuck to the ceiling in a mass of clear ice.

"What is this?" John asked, staring into his knees. Off in the distance he heard a low, echoing roar…  "No," he said, disbelievingly. "No, it can't. Uh uh. This can't be happening."

Again, the roar came. This time it sounded closer.

"Oh crap… come on, John," he told himself as he futilely tried to pry his feet loose. He let go and dropped back to his inverted position as another, closer roar/gurgle echoed from the tunnel in front of him. He looked around, trying to see anything other than the white snow and ice and caught a glint of a non-white object to his left.

"Son of a… " he said, not believing it. A small cylindrical metal object was half buried in the snow. John reached towards it, but he was a meter short. He tried rocking himself sideways, but that didn't work at all with his feet solidly sealed in place above him.

A slight rumble reverberated through the ice and fear spiked in John's gut. A couple of seconds later another followed it, then another, and another followed by a very loud roar.

"No, no, no," John whispered angrily. He was completely helpless.

A few meters down the tunnel a large white-haired thing plodded around the corner. It roared deafeningly loud when it saw him, then raised large, claw covered hands and walked towards him.

John couldn't do anything but watch. "Somebody… help!" he screamed, knowing it wouldn't do him any good. The creature moved up on him and dug its claws into his throat. He felt the blinding pain…

… then woke up in his bed in Atlantis, sweating heavily.

"Oh, hell," he whispered, sitting up. He felt his neck out of reflex… it was still there, intact and covered with beard stubble but no blood. He breathed heavily for a minute then laid back down, the nightmare already vanishing from his memory.

"That's the last time I watch Star Wars before bed," he swore to himself as he closed his eyes and tried to get some sleep.

---

A wormhole formed in the center of the yellow gate, with a large kawoosh leading the way. It quickly retracted into a stable event horizon. The activation attracted the attention of several nearby Priors who altered the Doci through their interconnected staffs. A long moment later the Orici stepped out of the event horizon into the newly rebuilt city of Celestis.

Four nearby Priors bowed with respect as he passed them by. Before he was fifty meters from the gate the Doci found him.

"Orici," he greeted him respectfully, but did not bow more than his head.

"Doci," Ryan returned the greeting. "Status?" he asked as the head Prior dropped into step with him.

"Twelve percent have begun construction, but only three percent are complete," he said apologetically.

"Twelve is more than I expected," Ryan told him. "I hope you're not overextending yourselves."

"I have made sure we are not," the Doci assured him, "but there are so many villages to renovate that we cannot afford to be lax. I assure you we are working with all diligence and speed, but we have not sacrificed the integrity of craftsmanship to do so."

"As it should be," Ryan agreed. "Take me to one of the completed projects."

The Doci nodded and the pair walked off to a ring platform hidden within the architecture of the city. They used it to transfer to the set of rings near the Ori stargate on the planet.

The two upright prongs of the gate were just outside the edge of the forest on the furthest extreme of the plains that as of now were covered with a thin layer of water that made them shimmer in the daytime sunlight. Situated directly in front of the stargate, yet sufficiently distant from the threshold, a small pillar rose from the ground constructed of the same gleaming silver metal.

The Doci pressed three buttons head high on the pillar, then another two at hip height.

The small gap at the top of the stargate connected with a brilliant arc of energy, then the oblong event horizon formed with an equally distorted vortex. Once it settled, the Orici and Doci stepped through the gate to one of many planets within Destra. This one, in particular, had been one of the first reconstructed after the brief yet brutal civil war the Ori had fought after the truth of their existence had been revealed.

The stargate on the other side was also situated in a forest… but off in the distance two cities rose above the tree line.

Ryan turned around as the gate deactivated and saw another three domes in the distance. Where there had once been primitive villages, the Ori had replaced them with more advanced structures on the Orici's order. Living simply didn't necessitate living primitively.

There was a series of stone paths leading away from the gate, of which the Doci let Ryan choose. Together they walked several kilometers toward one of the domed cities, discussing a myriad of subjects along the way. Every time they met the Doci was eager to hear more of the Alterra and their history with the Ori… and Ryan was happy to oblige.

When they reached the outskirts of the 'village' they came before two small structures adjacent to the entrance to the dome. They sat nestled up against the twenty meter high wall that the dome then sprung from. Stationed just above the structures were two concealed weapons nodes imbedded into the wall.

Half a dozen guards exited the checkpoint buildings and immediately fell to their knees in respect. The two leaders walked by them and into the city.

Once they got through the thick walls, they emerged into a wide courtyard with a view of the sun overhead. A transparent dome capped the sky, with a number of towers rising beneath it. One came from the structure in the center of the courtyard, the others came from buildings ringing the perimeter. Other buildings surrounded those, then there were the walls. It wasn't a large settlement, but it would house over a thousand people comfortably.

That said, the streets and buildings were spartan in nature. No ornamentation was visible aside from that which had been built into the infrastructure. There were no carts, tables, chairs, kiosks, or anything else that had been typical in the previous village at this location. A scattering of people moved about until they laid eyes on the pair… then they froze in their tracks and looked on them with awe.

Ryan observed them, felt their minds briefly, and took notice of their clothing. They'd adopted a slightly altered version of their previous garments. These had less cloth and more trim lines, with just a hint of Alterran design to them. Almost all of the garments bore the Ori symbol over the left breast or the collar.

One mind, however, stood out from the rest. It too was surprised to see the Doci and the Orici in their small village, but that surprise quickly turned to anger. Forewarned, Ryan knew the stone was coming before the man even threw it.

The Orici stopped the paving stone in mid air, then slowly turned his head in the direction of the man. The Doci immediately stepped between the two of them, but Ryan mentally called him off.

"Come here," the Orici demanded. When the man stiffened and held his ground, Ryan telekinetically pulled him across the courtyard until he was barely a meter away.

The Orici looked him in the eye for a long moment, reading his mind. "Not only was your attempt to harm me futile, your ire is misplaced. I did not kill your sister."

His jaw visibly shaking, the man uttered a quick reply. "The Ori... sent her to die. You are… the Orici. You are as guilty as they are."

"Were," Ryan corrected him patiently. "The ascended Ori are dead and gone. Those who sent your sister and her husband off into another galaxy to fight a war not of their making are no longer here for you to avenge yourself against… and had you tried when they still lived, they would have wiped you from existence with a mere thought."

"You are like them," the man said, more defiant by the minute. "You are them."

The Orici pointed a finger and the stone, still suspended in the air, traveled back to the place in the courtyard where the man had pried it up. It settled back into place, making the white tile courtyard whole again. Ryan then reached out a hand and touched the man on the forehead. He bled off his anger and stared directly into his eyes, his words sounding aloud and within the man's mind.

"Let go of the past. Your sister is lost, but you are not. Live in her memory… do not die in it, as you tried to do today," he said, then left the man standing in a mixture of shock and awe as he and the Doci continued onward.


John woke to find himself again hanging from the ceiling of the ice cave. This time he knew where he was and looked up at his feet to confirm it.

"This has got to be another dream," he said, his head pounding again. He pulled himself up and stared at his knees as his head cleared. The clenched muscles and stretched joints, however, told him this was real. As his head cleared he tried to figure out what was going on. He'd had dreams before, but in them there was always a part of his mind that was shut down, some reasoning or sensation that was denied to him, but right now he could feel everything and with the blood quickly draining from his mind he found he could think clearly too.

"What is this?" he asked aloud as the first distant roar sounded.

"Not again," he said, looking around for the small metal cylinder. He knew he was short of it, but reached anyway… still a meter off.

He couldn't reach it, so instead he tried to claw away at the too smooth ice covering his boots… his boots.

If he could unlace them… but no, the ices were laced over too. Damn.

The second roar sounded, just like it had before. John knew he didn't have much time left.

He released his hold on his legs and let his body swing back down. He tried to rock himself forward and back… hopefully cracking the ice above him. He tried for seven swings, but did little more than make himself dizzy. His feet were stuck solid.

The pounding of footsteps began and John began to panic. Of all the ways a person had to die… helpless was the worst.

The creature came around the corner and John committed himself to at least go down fighting. Hanging upside down he balled his fists and waited for the creature to come within range.

The white ball of fur and claws stomped towards him and John swung at it with his eyes closed. He felt his fist bounce off its dense muscle beneath the fur… then he felt the claws tearing at his throat.

With a start John woke up in bed again, the recent nightmare quickly fading from memory.

He pulled the thermal cover off his bed and quickly stood up, feeling his neck for cuts.

Nothing.

"What the hell is going on?" he half yelled as his eyes fell on the clock beside his bed. His morning alarm wouldn't go off for another two hours but, tired as he was, he didn't feel like going to sleep again. Instead, he got dressed and headed down to the commissary to get some early breakfast cubes. An hour later and all traces of his nightmare would disappear from his memory. The next night he would go to bed without a clue that it was about to happen again.


2
---


"Not again," John said disbelievingly as he woke up, finding himself hanging upside down in the same snow cave as before. He hurriedly began looking around and considering his options… he wouldn't have long before the creature came back to kill him.

"Come on," he said, feeling through his pants and heavy coat. "There's gotta be a knife here somewhere." Off in the distance he heard the first roar.

"Damn it!" he said when he couldn't find anything. "How the hell am I supposed to get out of this?" Again, the metal cylinder caught his eye.

A thought struck him. He began hurriedly taking off his jacket.

Making sure not to drop it, he grabbed the cuff and swung it toward the object… it brushed over the top of it.

"Good," he said, pulling his torso up so he could clear his head a bit. The blood was still swelling in his head. After a moment, and the sound of a second roar, he dropped back down and swung the jacket up and over the top of the cylinder… and dragged it toward him.

The cylinder stayed put, but some of the snow around it was pulled away. John tried again and again, getting more snow each time, but the cylinder wouldn't move more than a couple millimeters… he just didn't have the leverage.

John tried continuously, with no success, up until the time the creature came and slit his throat with its claws.

---

"No!" he cried, exasperated as he once again found himself hanging upside down.

He quickly pulled off his jacket and started pulling away the snow from the cylinder, but he wasn't making much progress. The roars came again, spaced exactly the same as the last time, then the footfalls, then the creature came into view… and it killed him again.

---

"Damn it," John yelled angrily as he found himself upside down in the snow cave again. He pounded his legs with his fists, trying to dislodge them as he twisted back and forth. They wouldn't move… but his knee joint did, popping out of place.

"God… " he cried, which was followed by the first distant roar.

He looked around, hoping to see something different this time, something he could use to cut himself free… but the only thing in sight was snow and the metal cylinder.

John reached towards it, knowing he wasn't going to reach it, but at this point it didn't matter. He couldn't just hang here and get killed again. He had to do SOMETHING.

"What the hell," he said, reaching towards the cylinder and trying to pull it with the Force…

Nothing happened.

"Yeah… didn't think so," he said, looking for something else. He jerked his arms up and down, trying to get his torso moving so as to pull his feet out of the ice.

Again, no luck.

In the back of John's mind his father's disapproval echoed beneath his growing dread as the creature's footfalls became audible. He couldn't get himself out of this… he was incompetent… he could never do anything right… he probably deserved this… what a waste…

Again the creature came into sight… and again it killed him.



John found himself in the same cave again, but didn't waste any time complaining about it. There had to be a way out of this. This had to be some sort of test… or torture. George Lucas's revenge, maybe, for him stealing the name of his planets…

Whatever, he wasn't just going to lie down and die… not that he could lie down, given that he was hanging by his feet… but it was just a metaphor.

Lucas… his way out of this lay right beside John, out of reach.

He twisted his head and looked at the half buried cylinder.

There was no way. This wasn't Star Wars. He wasn't a Jedi. He'd tried it already. This wasn't a dream where he could will it to happen. His body was real… this was real, however impossible that was. Maybe if Stevenson had made him an Ancient he could have reached out and pulled it to him using telekinesis…  but he hadn't. John was still just a Human, and unless a burst of cosmic radiation hit him and turned him into Mr. Fantastic, there was no way he was going to be able to reach it.

The creature came again, as it had numerous times before… and killed him.

---

The snow creature plodded around the corner, looked at John and roared. It lifted its clawed hands and lunged towards him.

John's eyes didn't move from the cylinder. It was his way out, he knew it. But it was still beyond his reach. He felt the claws at his throat… then he woke up, jumping out of bed.

"What the hell," he said as the images and sensations began to fade. He walked to his sink and splashed some water on his face, trying to think through what had or had not just happened.

Fifteen minutes later all memory of the snow cave and his recurring nightmare would be expunged from memory. He would go about his daily duties completely unaware of what had happened to him while he slept.

---

John found himself in the cave again, and his eyes went directly to the cylinder. It was the way out, he knew it. But he couldn't get to it, like some cruel joke. His salvation was right in front of him, like the thirsty guy in mythology who was standing in a pool of water, but whenever he reached down to drink it the water receded beyond his reach.

The cylinder was right there… right there! He knew what it was, even though it was half buried. But how was he supposed to get to it?

He knew how, but it was impossible… that was the joke of it. He had to be an Ancient, or a Jedi, to be able to get it.

John reached his hand out anyway… nothing. He let it flop back down, hanging below his head. He couldn't even touch the ground to make and throw a snowball at the creature. He was completely helpless.

Again the white mass came, and again it killed him.

---

John hung upside down, the nightmare beginning again just as it always had. There was always silence for a few moments, then the roars would begin, then the footfalls… then the slicing claws and his groundhogesk death. He didn't know when the last time had been, or how many times he'd been here. He just knew that he was here again and unless his luck changed he'd die just like he had the other times.

"Think, John, think," he said, pulling his torso up to try and clear the blood from his head. "If I'm Luke, then I should be able to use the Force… why can't I?"

"Uncertain are you… " a strange voice said beside John, startling him enough that he lost his grip and fell back upside down. Off to his left was a ghostlike little alien.

"What the… " John said as his brain adjusted to the upside down view. "What the hell took you so long? You know how many times I've died already?" he said as the creature roared in the background.

"And learned, you have not," Yoda's translucent image told him.

"Learned what?" John asked in a hurry. "How about you cut me free and we can discuss this elsewhere?"

"Dead I am," Yoda said, laughing. "Free you I cannot."

"Perfect," John said, taking a swipe at him. His hand passed right through. "You just come by to chat?"

"Strong you are in the Force. Free yourself, you must."

"I tried!" John yelled in frustration as the first audible step boomed through the cave.

"Do… or do not," Yoda reprimanded him as he began to disappear. "There is no try."

"Thanks for nothing!" John screamed in anger as the creature appeared around the corner. When it got within reach he punched it out of frustration, but it didn't stop the claws from slitting his throat.

---

"Think, John, think," he said, hanging upside down again. "The toad didn't appear for nothing."

He replayed their conversation in his head… but got nothing from it. The roar came again.

"Do or do not… do or do not," he repeated. "Ok, he told that to Luke because… because… " he said, trying to remember the movie.

For some reason his conversation with Stevenson flashed to mind… his insistence that John thought he was a loser.

"Confidence," John said with hope. "I have to believe it."

He looked at the cylinder, closed his eyes, then reopened them. He slowly reached his hand out and tried to pull it to him.

"Damn it!" he said, giving up after a few seconds. "This is pointless," he complained as the creature neared again.

He thought back to the movie… replayed the lines in his head. Yoda wanted Luke to lift the ship out of the water… Luke said it was impossible… he tried anyway… got it part way up, then dropped it… it couldn't be done… Yoda scolded him about him always seeing what couldn't be done… then Yoda lifted it out of the muck… Luke says he can't believe it…

"That," Yoda voiced echoed through the cave, yet his image didn't appear, "is why you fail."

The creature came around the corner again and walked toward him, claws raised and ready to tear him apart.

John ignored it. He looked at the cylinder and didn't take his eyes off it. He didn't reach out for it, nor did he say anything. He just stared at it as the creature plodded forward and reached out to kill him…

There was the sound of tearing flesh and a short scream from John that echoed through the cave. Unnoticeable in the melee, off to the side, the cylinder twitched…


3
---


Five Ori motherships flew through hyperspace in formation, crossing to a system on the outskirts of Destra… one that had been recently surveyed along with many thousands of others on the orders of the Orici. For whatever his reasons, the leader of the Ori had chosen this particular 7-planet system and had the Doci assemble the construction taskforce with all haste.

The Doci had remained in Celestis while the Orici personally oversaw the operation. Currently they were less than a day away from their destination, but there was a final piece of business that had to be concluded before they arrived… the selection of a Prior to take on the Orici's oversight duties during his frequent trips outside the galaxy.

Altogether there were twelve Priors aboard the five ships… seven of which were aboard the Orici's flagship and who had been summoned into his private chambers so they could be personally informed as to who would have operational command.

But before they were to arrive he had another guest summoned to his clandestine sanctum…

The exterior doors parted, revealed a pair of guards on either side that allowed a single man to pass. When he had crossed the threshold the doors closed, leaving him a bit bewildered.

"Hello?" Tomin asked carefully.

Another set of doors opened and the Stevenson walked into view.

"Orici," Tomin said respectfully, half bowing but not dropping to a knee. "I was told you asked to speak with me?"

"Yes. I know that you are one of the few who came to the realization that the Ori had deceived you on your own accord. I know that you are one of the four that used the Alterran Ark to brainwash the Priors into believing the same. I would ask, given all that has transpired in your life, why do you now still serve the Ori?"

"I serve the Orici," Tomin humbly corrected him. "Not the deceivers."

Ryan smiled slightly. "Why do you serve the Orici? I am, after all, heir to the deceivers' legacy… and I have instructed that the book of Origin be embraced once again."

"I have always known there was wisdom in it," Tomin said passionately. "And that you made a few alterations."

"That I did. But you still haven't answered my question. Why do you serve the Orici?"

"Because you have not lied to us," Tomin said reverently. "You have gained the loyalty of the people, not just through your selection as Orici, but because you have opened our eyes to the truth. I am no exception."

Stevenson raised an eyebrow. "Is that all?"

"No," Tomin said, lowering his head. "I have many misdeeds to atone for. I don't expect that I can ever succeed, but I must try."

"And you believe serving me is the path to that end?"

Tomin raised his head. "I do."

The Orici nodded. "Then I would ask for something more of you."

"You need not ask," Tomin said genuinely. "I am yours to command."

"Never the less, I am asking."

Reluctantly Tomin nodded. "What do you wish of me?"

"The place we are traveling to is the location I have chosen for the new homeworld of an ally of mine. Their race was nearly wiped out, but I intend for them to rebuild here, under our protection. I need someone I can trust to ensure that they come to no harm."

"If I might ask, Orici, who are they?"

"They call themselves the Asgard, and given a chance they will grow into a powerful ally… one which we will need in coming days. Peace is a luxury we shall not have for long, and we must make the most of it when we are able."

Tomin nodded. "I understand."

"Do you accept this responsibility?"

"I can make no promise of results, but I vow not to cease in my efforts until my duty is acquitted… "

"Kneel," the Orici ordered.

Tomin did as bidden and Stevenson walked up in front of him. "Look at me."

Tomin raised his head.

"The power I am about to bestow on you is a sacred trust. It is meant to give you the ability to help others… not to bring ruin down upon them. I know you have already learned this lesson well from your failures… and the deeds you were commanded to do. I give you this standing order for all time… do what is right, even if it should mean disobeying me."

Tomin's eyes watered, but he didn't lower his head. He'd been instructed not to. "I am humbled by the trust you place in me."

"I do so with reason, Tomin. I have searched your heart and mind. Though you have done evil deeds, you are not an evil person. If you were, you would not have questioned what you did. You would not have come to accept the truth and turn your back on the Ori, which you were right in doing. Let go your guilt. You cannot erase the past, but you can cleanse the person in the present. Let Tomin, Prior of the Ori, be as blameless in thought as he is in spirit."

The Orici raised his right hand over Tomin's head. From the jewel encrusted device he wore over his palm a white light burst forth expanding into a large energy field that obscured Tomin from view. A moment later the light receded, revealing the pasty flesh and pale hair of a Prior.

"Rise," Stevenson said in Ancient. The transformation had also included a knowledge upload in the process.

Prior Tomin stood, barely moving as he looked the Orici in the eye. "Hallowed is the Orici," he said, also in Ancient.

"Hallowed is the path of truth," Stevenson mildly corrected him as he telekinetically pulled a new Prior's staff from a far corner of the room into his hand. He held it out in front of him.

Tomin took it slowly, sensing the mental link through it to the Doci. It glowed bright as the head Prior briefly communicated with him, then fell dark as the link ceased.

"What would you ask of your Prior?" Tomin asked, not believing what had just happened.

"Come," the Orici said, leading the Prior into one of the side rooms. Inside there was a large holographic projector depicting the settlement they were going to build for the Asgard… it was unlike anything Tomin had ever seen.

---

As soon as John found himself in the cave again he immediately reached out for the cylinder with his mind. He didn't say anything, didn't fidget around, didn't mentally swear or consider his doom… he just pushed aside the numbness from the blood pooling in his head and concentrated.

The cylinder pulled out an inch.

John suppressed a shout and continued to concentrate.

It moved another inch.

The first roar sounded in the distance and John knew he was on the clock.

Another jerk and the cylinder was free of the snow. He reached out his hand and tried to pull it to him.

The cylinder leapt off the ground, moved towards his hand, and fell short directly beneath him. The footfalls of the creature boomed a warning that his time was almost up.

One more… he thought as he focused. It was barely four inches from his fingertips.

Suddenly the lightsaber jumped into his hand and he clenched his fingers around it tightly.

"Finally!" he yelled, fumbling to find the activation switch as the creature rounded the corner.

The blue blade extended from the small metal cylinder and John was about to swipe it through the ice above his feet when he realized he didn't have a good angle. Instead he pointed it toward the creature as it rushed him.

The blade burned halfway into the thing's hairy chest before it roared in pain and backed off, staggering.

"Yeah! Want some more of that, huh!" John yelled, mocking the creature.

For a long moment the ice monster just stood there looking at him. When John raised the blade toward his feet the creature took a step forward.

"No you don't," he said, pointing the blade back at him. The white mountain of hair back stepped.

"That's right," John encouraged it as he hung upside down. He looked carefully up at his feet, aiming for a spot a few inches in front of them, then whipped the blade up and through the ice and back down in front of the creature before it could do anything.

"Good boy," he said when the creature barely moved in response. The cut he'd made was a few inches deep, but it wasn't enough to dislodge his feet. He needed to cut all around them, but with hairy frosty over there that wasn't a likely option.

John looked up again and planned his next cut. With a flick of his wrist he nearly sliced off his left leg, coming within half an inch of his boot as he made a deep cut in the ice. The creature didn't move… it hung back with its arm over its chest as dark blood seeped from the hole John had cut in its chest.

He wiggled his feet, but he was still firmly stuck in the ice ceiling.

"Number three," he said, making another, slower cut on his right side. All of a sudden the creature was upon him. He hadn't seen it move, only a sheet of white hair obscuring his vision. On reflex he pulled the lightsaber down and into the blurry mass as he felt his neck get cut.

The creature fell to the ground… half of which leaned into John, popping his knee out of socket. He felt the cut on his neck carefully, then pulled his fingers back… bloody.

"Well… at least you're the dead one this time," he said as he made several small cuts near his feet. After a couple minutes something above him gave way and he dropped onto the lumpy, hair cushion beneath him… his feet still glued together in an ice cube.

"Ah… "John said, feeling the blood drain back into the rest of his body. "That's better."

Carefully he used the lightsaber to cut his feet apart and peel off the layers of ice clinging to his boots. A few stomps later and he was walking again, yet with a significant limp.

"Later," John said to the corpse as he headed for the exit of the cave. He had to half drag his left leg, but somehow he managed to stay on his feet.

When he neared the entrance the air got impossibly colder, with a stiff wind blowing snow at near horizontal angles. A large drift half covered the cave opening and John had to wade his way through it. He closed his half mask over his face and tried to see his way through the blowing snow.

About to give up hope and return to the cave, John spotted a glow in the west. He squinted his eyes against the snow and discerned a small blue light. Something inside him told him this was where he needed to go.

"What the hell," he said, slogging his way through the knee high snow. Whatever it was he was heading to was at least a half mile off and his progress was painfully slow, but sometime after his fingertips began to lose their feeling he finally made out what the object was…

An active stargate. The blue chevrons stood out in stark contrast to the white landscape, and at this range he could even make out the glow from the event horizon.

"Son of a bitch," he said, frowning beneath his mask. He could have sworn he heard something. Feeling suddenly insecure, he tried to pick up his pace. By now his knee had all but numbed up… that was the good news. The bad news was that so had the majority of the rest of his body. He felt like a stick figure, shuffling aimlessly through the snow, but he had to hurry no matter how difficult or ridiculous it looked.

Faint but audible, he heard more roars… many, many roars.

"Move… it… John," he said through half frozen lips. He had to get to the gate before them.

He was about 200 meters away when a loud roar gurgled behind him. He kept moving but stole a glance over his shoulder. Another of the creatures had emerged from the cave and stood howling at the entrance. Behind it another came out.

But that wasn't the worst of it. John could hear separate roars in at least two other directions. He couldn't see any of them yet, but he had no idea how many other caves there might be or even where they might be.

John made sure to keep a firm grip on his lightsaber. If he couldn't make it to the gate in time he didn't want to die helpless again. If it had just been one of the creatures he'd have given himself a 50/50 chance, but with more than one he doubted he'd be able to survive. His only chance was to beat them to the gate… he just hoped it didn't shut down, or worse, turn out to be an incoming wormhole.

First things first. He had to get there ahead of the creatures. He hobbled on and spotted a group of them coming out of the ground about 400 meters on the opposite side of the gate, charging fast.

"Argh," he half yelled as he willed his awkward body onward. He was within fifty meters now and the creatures looked to be 300 meters away… he didn't know about the ones behind him and he didn't feel like looking.

He didn't half to. The ones behind him roared again in unison… then the others from all around him responded. If he hadn't already been frozen the sound would have chilled him to the bone.

30 meters… 25meters… 20 meters… he was so close. He altered his path to reach the side of the gate with the chevrons on it.

15 meters… the creatures ahead were within 50… the ones behind him were closer, he could feel their footfalls.

10 meters… a gurgle/roar sounded very close behind him. He could have sworn he heard their breathing.

5 meters… 3 meters… 1 meter…

A giant claw swept into John's shoulder from behind, but it did so knocking him sideways through the event horizon.

The familiar sight of wormhole travel ensued and spat him out the opposite gate in a bloody heap… onto warm sand.

John rolled over and ignited his lightsaber, pointing it back at the event horizon. He held it there for thirty seconds, but the creatures didn't follow him through. A few moments more and the gate shut down.

"Ah… " he sighed, falling onto his back and resting for a bit.

An earthquake eventually woke John from his stupor. He rolled over onto his good shoulder and looked around…

… endless sand dunes… and the gate he'd come through had vanished. He was in the middle of nowhere.

"What now?" he said, beginning to get uncomfortably hot. He stood, despite the shaking ground, and peeled off his bloody jacket. Beneath he found two long but shallow slashes across his should in addition to the one across his neck.

The ground quakes continued, but they seemed to be coming from a particular direction. John tried to look across the heat waves distorting the light but couldn't see anything… aside from a plume of sand.

"You've got to be kidding me?" he said in dismay as the dust cloud came his way. He began backpedaling, but his knee slowed him down. Before long the dust was upon him and a giant armored worm rose up out of the sand.

"Oh sh… " he said as its mouth came down on top of him.


4
---


"Good, good," Rodney said, hovering over one of the Tria's control stations.

"Engines to station keeping," Larrin ordered her crew from the control chair as she continuously adjusted the ship's shields to resist the waves of stellar radiation being emitted from the very nearby pulsar. Without the constant modifications in conjunction with the Tria's sensors, one or more of the erratic plumes could overstress a portion of the shields and penetrate the hull. As it was, she was having a difficult time cycling through the six shield emitters in paired sequence so as to not burn out any one of them.

"How's it look on your end?" Rodney asked through the open channel.

"You need to be four dekmas closer," Janus told him from the space station. "Other than that, your position is fine."

"You hear that?" Rodney asked Larrin.

"Yeah, I heard," she complained. "We're about fried as it is… now you want me to take us closer?"

"Just a little," Rodney pleaded.

"Do it," Larrin ordered her crew. The helmsman input the new coordinates and the Tria thrusted closer to the pulsar's surface. A few moments later Rodney gave him the kill sign.

"There… " he said a bit too loudly. "Janus?"

"You're good," the Alterran scientist said. "You may begin deployment."

"Thank you," Rodney said sarcastically. Like he needed permission. "Prepare for deployment," he announced. "Make sure the cargo bay doors are facing away from the star."

"I've got it," Larrin announced. The ship began to roll over on its side.

"Nice," Rodney whispered as he accessed the bay door controls. "Launching now!"

Outside the Lantean warship a small sphere slowly drifted away from the largest of its cargo bays. As soon as it was clear Rodney closed the bay doors.

"Clear!" he announced. "We need to get moving before it starts to bleed off energy."

Larrin was already a step ahead of him. The Tria turned quickly as it accelerated up to a higher altitude. It continued on an outbound trajectory, quickly diminishing the stress on the shields.

Meanwhile Rodney was studying his readouts closely. The sphere had already begun to expand into the girder-like framework that housed the collection arrays. Even now they were absorbing energy from the pulsar and using it to power the deployment. The more it expanded the more surface area it gained, but most of the radiation passed through the massive gaps in the framework. It reminded Rodney of the quizzical children's toy spheres that expanded in and out… the ones he always got his fingers pinched in when he visited his sister's house.

Janus was also monitoring the progress from the station, so Rodney didn't feel it necessary to keep him apprised of the progress. It was fascinating to watch, and though this was the fourth such facility the Alterra had recently constructed, it was the first project that Rodney had been a part of.

Soon the collector had expanded to over three kilometers in diameter. By now it was a wisp of a frame, barely visible as its shields protected it from the harsh environment even as other shields began collecting sufficient charge to…

Suddenly that wispy frame locked into place and a large, visible bubble former around the entire construct. Rodney knew the shield was invisible, but the waves of the stellar radiation were causing considerable disruption to the matrix that was visible.

"Janus?" Rodney asked, preempting the next stage.

"Relay station is aligning," he told him. "We'll have to wait until it's ready before we link them up."

"I know… how long?"

"Forty three seconds," Janus told him.

"Standing by," Rodney noted as his hand hovered over his control board. Outside the ship the collector suddenly became visible to the naked eye as its capacitors filled and it had to begin shunting the excess power into space. It appeared as a small glowing blue dot superimposed on the yellow/white mass of the star.

A few moments later Janus's voice returned.

"The relay station is ready. You may begin shunting power now."

"Thank you," Rodney said, pressing a series of buttons that would command the collector to redirect the energy along a tight beam to a relay satellite in higher 'orbit,' though that term wasn't technically accurate. Neither facility was moving, instead they were using their onboard anti-gravity engines to hold fixed positions above the surface to facilitate the transfer of power.

On the monitors the small glowing orb disappeared and a thin power stream jutted in a straight line out to the relay millions of kilometers away. Traveling at lightspeed, the stream reached the satellite quickly, then was redirected to another location where the potentia factory floated far away from the dangerous pulsar.

"Power transfer at nominal levels," Janus's voice reported. "Buffers charging. You're clear to proceed with the second deployment."

"Larrin?" Rodney prompted.

"Heading back in," she said as the Tria turned about. "Let's see if we can speed this up a bit this time."

"Believe me, I don't want to be exposed to this much radiation any more than you do," Rodney half protested, "but these collectors have to be damn close in order to get enough juice to charge a ZPM."

"Won't matter," Larrin countered, "if we get killed and the other collectors are destroyed in the process."

"True… true," Rodney agreed. "Ok boys," he said, addressing the rest of the crew. "Let's see if we can hit this one spot on, shall we." He swung across to another control board. "One down, sixteen to go."

---

John ran out the open wormhole into the desert again, this time without any bleeding cuts, and immediately looked around. He did a full 360 with the gate disappearing when he had his back to it.

"Gotta be something," he said, scanning the horizon. Off to the south there was just a trace of elevation on the horizon.

"Rocks… gotta get to the rocks!" he said, taking off at a full run. He did not want to get eaten by that worm a second time.

By the time he reached the edge, the earthquakes had begun. John darted in and out of small rocks on top of the sand until he reached a solid, almost flat outcropping of rock in the middle of the desert about the size of a football field. He ran to the center and turned around, looking for the worm.

Right on cue it burst out of the sand as close to the rock as it could. It roared then crashed back into the sand, wiggling itself beneath the surface.

John gave it a defiant finger then searched the rocky platform. Nothing else was visible in all directions… but there had to be something else here.

Suddenly his foot slipped and he almost fell on his ass.

"What the… " he muttered, regaining his balance. He looked back where his foot had been and saw a small crack in the stone where water was seeping out. It flowed off the rock then soaked into the nearby sand, a long stream no wider than his smallest finger.

John reached down and touched the water. He tasted the bit on his fingertips then spat it out… it was salty. He stood up and resumed his search.

After half an hour of close inspection he found nothing, so he sat down in the center and thought. In the distance he could see several worms surfacing at random spots. He guessed there had to be at least four of the things in total, if not more. Leaving the rock was out of the question… especially since he had nowhere else to go.

The sun was heavy from above and already John was getting dehydrated. As much as he hated the snow on the previous world, he was beginning to hate the sun here even more. His mind flashed back to the crack in the rock and he began thinking of ways to purify the water.

With no gear whatsoever that wasn't going to be an option. Aside from his heavy winter clothing, which he'd already stripped off, he had nothing to work with. The only piece of technology he had on him was his lightsaber.

John raised an eyebrow. "Maybe… "

He stood up and walked back over to the crack. He ignited the blue blade and drove it straight down into the rock.

When he pulled it back up a surge of water sprayed up like a fountain.

"At least I'll be able to take a shower," he said literally. He stripped off his tank top and shorts and did just that in the cool water.

After he'd thoroughly refreshed himself he redressed and sat down to think again. He couldn't turn his impromptu shower off, so he just sat and watched the water roll off the rock and began to make a stream through the desert. Most of it just absorbed into the sand, but the part that didn't began to eek away from the rock along the surface.

Another flash of inspiration struck him and he ignited the lightsaber again. This time he cut a large chunk of rock out near his previous hole and was nearly knocked aside as the water pressure blew it up like a cannon ball.

"Whoa… " he yelled, getting out of the way as it fell back down. The water was blasting up with the power of ten fire hydrants and running in all directions off the rock. John's feet were covered in water and he waited to see what would happen, if anything.

Most of the water, it seemed, was flowing off in one direction… to the northwest. There, the previous stream had now become a river meandering off into the desert. The sand eroded away as it was carried downstream with the water… revealing something beneath the sands.

"Son of a bitch… " John said, taking the lightsaber and enlarging the hole in the rock.

The extra water turned the raging river into a water knife, cutting through the sand like a blade while nearly knocking John off the rocky platform. He was now knee deep in water… it was coming out that fast.

As soon as the complete surface of the object was cleared of sand it activated, sending a kawoosh skyward before settling into the familiar view of an event horizon. The water of the river suddenly began pouring through.

John tilted his head to the side in consideration. "Waterslide, I guess," he said, slugging his way against the current until he got to the source and the downward side… then he let it carry him off the rock, through the river, and down through the wormhole…

"Aaahhh!" John yelled in freefall. The exiting gate was situated at the top of a long ridge and the source of a high waterfall.

His arms and legs pumping wildly, John managed to get his body somewhat aligned with the water before he hit… hard.

His body dove deep into the pool and was pushed further down by the cascading waters overhead. John sucked in a mouthful of water and panickly swam to the side. Once the pressure of the waterfall dissipated he struggled to rise to the surface where he coughed the water out of his lungs.

His head dipped beneath the surface and he got a mouthful of water again, then he fought to get his nose and mouth back into the mist-laden air. He spat out the new water and tried to swim to the water's edge some thirty meters away and covered with green and red plants… so many in fact that he couldn't see the ground beneath them.

"What the hell is going on?" he complained as he pulled himself on shore. He flopped down on his stomach and coughed again. The small plants made for a comfortable bed, but if the previous worlds were any indication he couldn't just lie around and rest.

He pulled himself further up the shallow incline on his hands and knees until he was beneath the tree line. He briefly looked around then turned his attention back to the way he had come.

Where the gate had been was now a normal waterfall coming over the cliff. It fed into a large pool… which then exited in a fast moving river through an incredibly dense jungle. John couldn't visibly follow it more than a few meters beyond the pool before it disappeared into the foliage.

"Oh crap," he said, realizing he'd lost his lightsaber during the fall. He looked back at the incredibly clear pool and saw a tiny twinkling object at the bottom… moving slowly toward the river's exit.

"No you don't," John said, standing up and staggering around the edge of the pool. He wasn't about to lose his only weapon.

"No, no, no!" he yelled as he saw it beating him to the exit. He was barely going to miss it, so he made the snap decision to run and jump head first into the water…

His head pounded from the impact… he must have suffered a slight concussion from the initial fall, but his hand managed to find the metal cylinder. He grabbed onto it fiercely then tried to right himself in the water.

Before he could find the surface he felt the current take him down the river and his head suddenly broke through into the air as his feet found a rock beneath him. He caught a quick breath before he was knocked off the rock by the flow and dipped beneath the surface again.

He bobbed along, catching air when he could, but by no means could he control his route. The river was moving so fast that all he could do was hold onto his prize possession and try to keep the water out of his lungs. He continued on like that for longer than he could recount until the water's speed suddenly dropped off and he fought for a measure of control.

He got his head level and above water as he swam in place. The river had widened into a delta. That was why the speed dropped off, but ahead several islands diverted the flow into different channels. John thought about trying to swim to one of the islands when he suddenly noticed the brush moving and decided against it.

He really hoped there wasn't anything in the water going to eat him.

The flow carried him into one of the center channels and the water's speed picked up again, but not as much as it had before. The bottom of the channel was flat and smooth so there was no white water to deal with. John tried to stay in the center of the stream and look ahead as far as he could. The last thing he needed was another surprise.

The channel suddenly turned and recombined with another of its twins on the right and the water's speed increased again… and suddenly went sharply downhill.

"Oh crap," he said, sliding downhill on nature's version of a waterslide. He veered directly into a large rock, but was able to catch it on his feet. Unfortunately that catch twisted him over and he began sliding down head first on his back. He knew that was a recipe for disaster, so he fought the current to turn himself around.

He succeeded just in time to wedge himself between two large rocks. The water flowed through a small crack between them with the rest forced to go around either side. John pulled himself up out of the lukewarm water and onto the mossy rock, nearly slipping back in twice.

"Ah… " he said in relief just to get a moment to think. He held perfectly still, trying to get his wits about him. His lightsaber was still in his right hand, thankfully, and he had a small cut on his left shin from one of the rocks earlier. That, in addition to the pounding in his head was the worst of it, but he knew it could have been far worse.

Slowly he began to look around and it took him a moment to realize there were higher rocks behind him on which some type of platform had been constructed.

"That looks promising," he said, tucking the lightsaber into the waistband of his shorts… and having it slip through and out the pant leg, where it fell towards the water.

His hands were quicker though, and he snatched it just in time.

"Bad idea," he said, gripping it lightly in his teeth. It stretched his jaw a bit, and he hoped it wouldn't cramp up on him, but he needed both hands free to climb.

The rocks were slick with moss and water, but John was diligent and determined. It took extraordinarily long to reach the top, some five meters up, but even climbing that far was impressive with his trembling and fatigued arms. Paddling against the water to keep from drowning had really drained his energy.

John got a grip on the metal framework of the platform and wiggled up to shoulder height, allowing him to see over the edge. It was perfectly flat, some three meters square, and covered in a mesh plate.

John hooked his fingers into the holes on that plate and used the extra grip to pull himself up over the edge. He flopped over onto his back and rested for a moment, but kept his ears open for trouble.

After a few long heavy heaves of air he rolled up into a sitting position and assessed his situation. Below the platform the river continued sharply downhill as far as he could see to the 'south' as he deemed it. Rivers always flowed south, right?

Off to the east one of the other channels fed into a raised aqueduct that traveled in a straight line over the treetops in a subtle descent to a larger facility below… one with a barely visible active stargate on it.

"Looks like that's where I'm headed," he said, glancing overhead. The four corners of the platform had metal girders angling upward and meeting in the center, onto which a zip line had been attached. John followed the direction the line stretched with his eyes.

It also headed toward the larger facility.

John flexed his hands, assessing their strength. He was tired and didn't want to slip and fall… not only because it would be a painful death, assuming he died and wasn't just horribly injured, but he also didn't want to restart at the beginning in the snow cave and have to go through this all over again.

He looked around for any dangers and, finding none, he decided to stay put for a while and regain his strength. A little prudence wouldn't hurt… he hoped.

After more than an hour John stood up and grabbed the handlebars of the zip line attachment. He held the lightsaber in his mouth again and tested his weight… his arms felt alright, but he was only going to have one shot at this. No matter what, he had to hold on.

He took the lightsaber out of his mouth and spit, then gripped it in his teeth again.

"Hherre oees," he mumbled past the metal. With three quick steps he ran off the platform and careened down the zip line over the river. His momentum carried him nearly parallel to its flow, but slightly off center so that he eventually passed over the treetops, some of which he had to twist and bend to avoid hitting with his legs.

Halfway down he felt his arms begin to give way, but he clenched his muscles even tighter and willed himself to hold on. He'd picked up speed on the descent and figured he should make it through the second half faster than the first.

Suddenly the trees disappeared beneath him and were replaced with a large half-encrusted lava field some twenty meters below jetting up waves of heat that instantly made his skin sweat. After a long thirty seconds the lava ended and the edge of the main structure passed beneath his feet… but it was too far to drop. He had to hold on until he reached the terminus.

Looking through small eye slits as he held on with all his strength and concentration, John saw the zip line pass through two 'forks' that signified the edge of the landing platform. He zoomed through them and the ground came up to within a meter of his feet when he did.

Now the only question was how was he going to slow down? He was moving at 70 kph and there wasn't a hand break.

As he got to the middle of the receiving platform his question was answered. The flexible line transitioned into a solid metal pole that slowly began to arc upward. His speed slowed and a ramp beneath him kept his feet within reach of the ground when he finally came to a stop.

He began to slide backwards when he finally let go. He dropped into a crouch and let his arms burn… that he did not want to do again. If he'd known what it would be like he probably wouldn't have tried it and found some other way to get here. He'd almost slipped off over the lava field.

John pried the lightsaber out of his mouth and suffered through a muscle spasm in his jaw as reward. When it died down he glanced around looking for the stargate.

It was down two levels, 300 meters to the west. He spied a nearby grated staircase and took off immediately. The sooner he got out of here the better.

He stopped as soon as the thought crossed his mind. Was he better off? Or should he rest here for a while? He had no idea what would be on the other side.

John opted for a compromise and walked on… slowly.

When he finally got to the gate it was, fortunately, still open. John took a deep breath and walked through.

He emerged on the other side at the base of a tall mountain with a trail before him. The bluish light emanating from behind him disappeared along with the gate, leaving only a ghostly yellow glow from a partially obstructed pair of moons overhead. Otherwise it was completely dark.

"What now?" he asked, gingerly taking to the trail.

He walked on for nearly an hour without incident when he came to the next gate. This one, like all the others, was a blue gate and the event horizon was open. He wasn't to the top of the mountain yet and this had been too easy. He wondered if this one might be some type of fake that would lead him somewhere nasty… or some giant monster would emerge out of the night to eat him on approach.

"No, it's real," Stevenson said from around the corner of a large rock. Another path led up the mountain and Ryan was standing at the base of it.

John glared at him vehemently. "What the hell is going on?!"


5
---


The Alterra shrugged. "All Padawans must undergo trails before they become Knights."

John looked at his disbelievingly. "You're saying this is all some sort of test?"

Stevenson nodded. "Pretty much."

"You son of a bitch," John said, stepping forward and punching Ryan off his feet.

Stevenson fell onto his back then sat up smiling. "I suppose I deserved that."

"You have any idea how many times I've died?" John yelled.

"I know exactly how many," Ryan said, standing up. "But… there are a few things I need to explain. First of all, I'm not the person you believe me to be."

"Oh no?" John asked, not really caring. He was considering punching him again just for the hell of it.

"No. I'm the tiny chip inserted in your head."

John's eyes narrowed dangerous. "What?"

"This is a virtual testing simulation, similar to what the Alterra have used for eons when live testing became too lethal for practical applications. Such danger was only applicable for training purposes in a synthetic environment, one with pain suppression protocols so the subject won't experience the full pain of… failure."

"Let me be the first to tell you," John said slowly and angrily. "I think you're broken. I felt everything!"

The image of Stevenson slowly shook his head. "No… you felt enough to treat it as real, but had those scenarios been live, the pain would have been much more intense. However, given your background and experience, the pain suppressors were diminished slightly to maintain a sense of realism."

"Oh they were, were they?" John asked sarcastically. "Let me guess. Stevenson?"

"He wanted to ensure a valid test," the program explained. "You've had similar real life experiences that would have belied the sanitized nature of the program in comparison, thus the realism had to be enhanced to avoid that eventuality."

John turned away from him for a moment, his fists balled in anger. "I don't believe this! I am so going to kick his ass, ancient powers or not."

"I understand how traumatic this has been," the program half apologized, "but it must be. An easy challenge would prove little. In order to measure your caliber you have to be pressed. Those with exceptional skill require exceptional testing."

"Is that some sort of backhanded compliment?" John asked, still quite angry but now beginning to get intrigued.

"You could take it as such," the program said. "However, my presence here is not merely to explain the test to you. You have reached the end, if you choose. The gate is quite real. All that is required to end the test and earn the transformation into a Lantean is to walk through that gate."

John's eyebrows rose. "Wait a minute. You're saying this test was to determine whether or not I get to be an Ancient?"

The program nodded. "Yes. Walk through that gate and you're finished. Stevenson will be informed of your success and will make the necessary genetic alterations."

"That's it?" John asked. "I just walk through the gate?"

The program nodded.

"The ground's not going to fall out from under my feet or anything?" he asked suspiciously.

"No. All that is left for you to do is to step through."

"That doesn't make any sense," John complained. "Why tell me now? Why not just let me go through and find out afterward from Stevenson?"

"Because it doesn't have to end here," the program said, its tone darkening. "There is the other path."

John immediately caught on. "There's another gate, isn't there? An Alterran gate?"

"Correct," the program said, a hint of admiration in its eyes.

"What happens if I die up there?" John asked.

"Then the entire program resets and you must make your way back here. The only way to end this simulation is to pass through one of these two gates. You have already earned the privilege of becoming a Lantean, but if you move on you risk losing it… "

"… and having to redo all that again," John finished for him.

"Yes."

John sighed. "Can you be killed?"

The program raised an eyebrow. "I will reset along with the simulation, if you're referring to this avatar. If you're referring to the microscopic insert in your brain, there's nothing you can do from inside the simulation to harm it… and very little you can do once you're awake without doing significant damage to yourself."

"Thanks," John said, igniting his lightsaber's blue blade. He lunged forward and decapitated the image of Stevenson.

John glanced between the blue glow from his blade and the blue glow coming from the gate's chevrons. "That felt good."

He stepped over the body and started up the other path that led to the Alterran gate.



Two weeks later John emerged onto the top of the nighttime mountain. There was a small clearing on the plateau surrounded by dense forest and ominous sounds of trouble. Bloodied and limping as he climbed the last few feet of trail to the summit, John studied the open red gate on the other side of the clearing.

He turned around quickly at the sound of another raptor call, his blue blade interposed between him and the trail up the mountain.

"Too easy," John declared, looking at the few dozen meters left to get to the gate. He spied a small rock about the size of his head off to his left. He pointed his free hand at it…

The rock lifted off the ground and John Force-threw it across the clearing to the ground in front of the gate…

Suddenly a rectangular patch of soil disappeared down into a large pit. John carefully walked up to the edge and looked down inside it. At the far bottom were a number of vertical spikes.

"Thought so," he said as he heard a very nearby raptor call. He didn't have much time before they caught up to him again. He took a few long steps backward then hobble/ran towards the edge of the pit and jumped…

Using the Force to enhance his fatigued muscles, John launched himself into the air and across the small chasm directly into the open event horizon…

The ever so sweet view of passing through the wormhole signaled his success and deposited him in an empty stone room. The gate shut down and disappeared behind him… when he turned back around the Stevenson avatar stood before him, clapping.

"Well done," the program congratulated him.

"Is that the end?" John asked, wanting to be sure.

"It is… and I've just relayed your completion of the scenario to Stevenson. The message went into the transfer buffer, so he must not be on Atlantis now, but when he returns he'll transform you into an Alterra."

"Good," John said satisfactorily. "But there's one thing I want to know first."

"Yes?"

"Did Stevenson design this test? I mean, with all the Star Wars stuff and the rest? It doesn't seem very… Ancienty."

"He designed the basic parameters for the test, but the… particulars… were drawn from your memories. In essence, you designed your own test."

"I had a feeling it was something like that," John said, mentally kicking himself.

"So, are we finished here?" the program asked. "Or would you like to review your stats?"

"I'll pass, thanks," John said irreverently.

"For what it's worth, your testing parameters, both those imposed by Stevenson and those you imbued for yourself are far above the standard simulations we use in training. My program is an enhanced version of the original, so I have the base template for comparison."

"Meaning what?"

The Stevenson avatar smiled. "You earned it."

John nodded his thanks then there was a flash of white light… and he woke up in bed.

He sat up slowly, running everything through his head. The memories were clear… they weren't fading away this time.

He swung his feet out from under his thermal covering, stood up and stretched… feeling better than he'd felt his entire life. He frowned and stretched out a hand toward a can of silly string on his counter that he was saving to use on Rodney.

It didn't move… he hadn't been transformed yet. So why was he feeling so good?

Just another question, he guessed, that'd have to wait for Stevenson when he got back.

---

Oddly enough, it was Stevenson that found Sheppard first three days later. John was in one of the sparring rooms going at it with one of the training replicators. They both had what looked and sounded like wooden swords and were engaged in a clumsy, yet energetic fight.

Stevenson stepped aside from the doorway and leaned against the wall, not interrupting as he watched them spar. It was more of a learning fight than a contest, and the replicator had obviously been geared down to a lower level for Sheppard to contend with, but John was showing as many bouts of skill as he was awkwardness. Ryan wondered what had prompted him to pick up sword fighting. He'd always known him to favor guns.

"That's enough," Sheppard told the replicator. "Return to your bin."

The replicator, in the form of a tall male, walked over to one of the equipment racks on the wall and disassembled into base components and reformed into a small cube where it would await its next opponent.

"Not bad," Stevenson commented.

"Care to step in?" Sheppard asked.

"Alright," Ryan said cautiously. "But I have to warn you, I train with Bra'tac every now and then with staffs."

"Not exactly the same as a sword, but thanks for the warning," John said amicably.

"After you," Ryan said, pulling the replicator's sword up into a guard position.

Without a word Sheppard stepped forward and thrust his 'blade' toward Ryan's midsection.

The Alterra swept it aside easily with his enhanced strength, but to his surprise Sheppard reversed his motion, undercut his opponent's blade, and took a swipe at his legs which Stevenson hopped over.

"Not bad," Ryan commented, taking a decent overhead swipe at Sheppard, who ducked to his left out of the way of the blow and pushed it further aside with his own sword.

"I've had a lot of recent practice," John implied heavily.

"So I've heard," Ryan said, continuing to spar with him. "I thought you would have been a little mad at me for not asking your permission?"

"I was," Sheppard admitted, swatting aside Ryan's thrust. He spun his blade around in a 180 and nicked the Alterra's shoulder. Stevenson got his blade into place before Sheppard could make a second, harder hit. The blades locked for a moment, with their faces less than two feet apart.

"But not now?" Ryan asked.

"No… " Sheppard said, forcing Stevenson back, then he disengaged his blade and made two quick swats at his head before ducking down and swiping at his legs. Ryan caught his attempt on the middle of his blade then ran his sword up John's and jabbed into his torso.

Sheppard rolled backward out of the blow onto his back, then rolled onto his feet, bringing his blade back up as he did so.

"I assume the program explained why I had to make it harder than usual?" Ryan asked.

"It mentioned something," John said, increasing the ferociousness of his attacks. Apparently he'd been holding back against the replicator.

"I had to make absolutely sure," Ryan said, backing up as he played defense, "that you were ready to become my second in command."

Sheppard froze. "Second in command?"

Ryan nodded, touching his sword's tip to the ground. "I needed to know that you were the type of person that wouldn't give up… no matter how difficult the situation became."

"What about your clones?"

"They each have their chosen niches, but right now I'm the only coordinator. You'll be the second."

"Coordinator? Is that some sort of title?" Sheppard asked.

Ryan shook his head. "We don't use titles or positions. We also don't use a hierarchical command structure like you're used to. We co-op along our skill sets instead of using a chain of command."

"Then what does 'second in command' actually mean?"

"I'm in charge of everything that happens within our civilization," Ryan explained. "Right now that's not a lot, but eventually that will be thousands of planets and billions of Alterra. That's too large a number for me to monitor, let alone control. I coordinate the civilization-wide issues and imperatives, but I don't get heavily involved in any one thing."

"Jack of all trades, master of none," Sheppard offered.

Ryan smiled. "Something like that, but since I have the knowledge of the Repository I'm a bit more well rounded. Right now I'm the best at almost everything, but that will change in time. Take Matt for example. His medical knowledge is equal to my own, but he's elected to head up the medical division. Over time he will gain a bit more knowledge in that area than me, and a lot more experience. When that happens, I won't overrule him in medical matters because I'll trust him to know what he's doing more than me. Likewise he won't overrule me in my area because he won't have the experience."

"So, everyone just gets along," Sheppard asked, not believing it, "without any chain of command?"

"Yes, we do."

Sheppard shook his head. "I don't see that happening."

"You're still Human. Once you begin to change you'll see a difference. Besides, you've done this before, just on a smaller scale."

"When?"

"How you dealt with your team while Atlantis was under I.O.A. control."

"Ok, so we didn't stick with protocol all the time… "

"Because?" Stevenson prompted.

"Well, I guess it was because we trusted each other to get the job done."

Ryan smiled. "Exactly. That's the way the Alterra work on a civilization-wide level. Those with the skill and expertise fill the niches in the structure where they will be the greatest assets. Because I'm the first of the new Alterra, and because I'm the one that used the Repository, my niche is guiding the civilization rebirth and coordinating between the various divisions of our society as they develop. Someone has to be aware of everything that is going on while everyone else focuses on specific areas."

"I don't know," Sheppard said. "Coordinator sounds like a desk job. I want to be in the thick of things when the fighting starts."

"Perhaps 'coordinator' was a bad description… " Ryan offered. "How about 'troubleshooter?'"

"Hmm… does that mean we go where the trouble is?"

"It does."

Sheppard nodded. "That sounds better. Where do the others fit in?"

Ryan nodded. "Bra'tac is a System Lord. That basically describes itself. The System Lords will always be Alterra, without exception, but if I put you or someone else in that position it wouldn't work well, myselves included."

Sheppard considered that. "Because we don't know the Jaffa like Bra'tac does?"

"Bingo… the skill makes the position, not the other way around. I know that's backward from everything you've experienced on Avalon, but you'll get used to it."

"Why do you always call Earth Avalon?" Sheppard asked. He'd wondered about that for a long time.

"Because that's its real name," Ryan scoffed a bit. "Right now the people on 'Earth' are just posers. Avalon was the center of our civilization for 41 million years. We've still got dibbs on it."

"Really… " Sheppard said, catching his meaning.

"Not any time soon," Ryan assured him. "It's not on the top of the priority list, but it's something we'll get around to eventually."

"Wow… I hadn't thought about that."

Ryan frowned. "You really think we were just going to let the I.O.A. stay in charge."

Sheppard pointed a finger at him. "Good point. I've still got a score to settle with them anyway."

"Yes, well, the fun will have to wait for now. We've got bigger problems to deal with… and the Jaffa can keep Avalon in line until we're ready to go back."

Sheppard nodded. "The Wraith."

"Big fish in the little pond, I'm afraid."

"Meaning what?"

Stevenson sighed. "The Wraith are going to be tough to beat given our low numbers, but in the grand scheme of things they aren't that tough. There are many other enemies in the 22 other galaxies that we're going to have to fight that make the Wraith seem inconsequential."

Sheppard's eyes went wide. "And when were you planning on telling us about them?"

"When you needed to know," Ryan said pithily. "Which in your case is now. I need to bring you up to speed on everything that's going on, which includes meeting our allies in other galaxies."

Sheppard smiled. "Does that include Andara?"

"Yes, but let me warn you up front, the Feriorla are a very tactile race of Humans. Andara not so much, now that she's becoming an Alterra, but her people have a habit of touching you while you talk to them. It's a bit disconcerting at first, but I've gotten used to it. Phil, I imagine, is going to have to establish some boundaries with them, but since I don't see them very often I can tolerate their 'touchiness' on occasion."

"Phil is another of your clones?" Sheppard asked.

"Yes. He's liaison with them and helping Andara combat a disease that renders their population extremely lethargic."

"She a scientist?" Sheppard guessed.

Ryan nodded. "Biologist."

"What about Teyla?"

"Warrior."

"I guess that one should be obvious," Sheppard said. "Are there any others?"

"Not yet, but I have my eye on a few. You're next on the list."

"Right… so, a few treatments in the gene machine, I take it?"

"No, that machine can't advance you to Alterran level, only prerequisite levels of development. Lanteans are a lesser form, so it works for them."

"Why not Alterra?"

"Let's just say our current level of development isn't completely mapped out. We don't fully understand it, so trying to artificially advance someone to our level would be risky."

"Isn't that what the head sucker did to you?" Sheppard argued.

"Not exactly," Stevenson told him. "The technology is different, but the end result is the same. The DNA resequencer can only make changes up to a certain limit of variance from current form, that's why Elizabeth and the others had to have several treatments. It's a stable way to make changes to one's genome."

"I take it the head sucker isn't so stable?"

"No… it transforms you very fast in a state of genetic flux to a predetermined template. My body, as a Human, was a different body than I have now. There were wholesale changes made that incorporated some of my previous genome into the mix, but I'm mostly standard Alterra with a little bit of old Ryan thrown in."

Sheppard frowned. "Did you used to look different?"

"My bone structure changed a little. My form smoothed out and I gained three extra organs, but the most visible change was my hair. I was blonde before the Repository."

"Did you have Teyla use the Repository?"

"No."

"Then how did you change her?"

"The Repository gave me the ability to change the seed species into Alterra by touch."

"Seed species? You mean Humans?"

"And Lanteans," Ryan added. "It takes a bit of effort on my part… I have to actively troubleshoot the differences between your current physiology and mine. The transformation will take about a year to unfold, making it safer than the Repository or the DNA resequencer, but it's a one shot deal. No multiple treatments."

"By touch?" Sheppard asked.

"Think of it like a 20 minute mind meld."

Sheppard raised an eyebrow. "Can you change my hair color too?"

Ryan smiled. "I could give you polka dotted skin if you wanted."

Sheppard glared at him. "You better not."

"Any requests?"

Sheppard thought about it for a moment. "No, let's just stick with the standard package," he said, readying himself. "What do you want me to do?"

"Just stand still," Ryan said, touching his head with his right hand.

"My mind to your mind," Sheppard said sarcastically.

"Shhh… I need to concentrate," Stevenson said smiling.

18 minutes later Sheppard began his long, slow conversion into an Alterra.

After Sheppard got his chip removed and changed into Alterran clothing, the pair walked down to the gateroom and Stevenson began taking him around the galaxies, bringing him up to date with everything that they had going on.

